@media only screen and (max-width: 650px) {
    .form-select {
        max-width: 40%;
        text-align: center;
    }
}

@media only screen and (max-width: 991px) {
    .form-select {
        max-width: 30%;
        text-align: center;
    }
}

@media only screen and (min-width: 991px) {
    .form-select {
        max-width: 20%;
        text-align: center;
    }
}
