.brand-link {
    color: #ffffff;
    text-decoration: none;
    box-shadow: #1a8639;
    margin: 0 10px;
    text-transform: uppercase;
}

.brand-link:hover {
    color: #ffffff;
}

.navigation-btn {
    color: rgba(255,255,255,.75);
    margin: 0 20px;
    text-decoration: none;
    text-transform: uppercase;
}

.navigation-btn:hover {
    color: #ffffff;
}

