@media only screen and (min-width: 570px) {
    .news-card {

        &__title {
            text-align: center;
            height: 3.9em;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            line-height: 1.3em;
            overflow: hidden;
        }

        &__domain {
            text-align: center;
        }

        &__link-underline {
            color: black;
            text-decoration: none;
        }

        &__link-underline:hover {
            color: black;
            opacity: 0.7;
            text-decoration: underline black;
        }

        &__footer {
            height: 50px;
            display: flex;
            justify-content: space-between;
        }

        &__date {
            margin-top: 30px;
        }
    }
}

@media only screen and (max-width: 570px) {
    .news-card {

        &__title {
            text-align: center;
            height: 100%;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            line-height: 1.3em;
            overflow: hidden;
        }

        &__domain {
            display: none;
        }

        &__link-underline {
            color: black;
            text-decoration: none;
        }

        &__link-underline:hover {
            color: black;
            opacity: 0.7;
            text-decoration: underline black;
        }

        &__footer {
            display: none;
        }

        &__date {
            margin-top: 30px;
        }
    }
}

